/* Browser Resets */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 67.5%;
  font-family: monospace;
  background-color: white;
  color: black;
}

/* COLOURS */
:root {
  --correct-position: rgb(59, 148, 59);
  --correct-letter: rgb(204, 173, 32);
  --incorrect-letter: rgb(34, 33, 33);
  --submitted-letter: rgb(77, 75, 75);
}

/* NAV SECTION */

#navigation-bar {
  display: flex;
  position: sticky;
  font-size: 4rem;
  border-top: 0.1rem solid lightgray;
  border-bottom: 0.1rem solid lightgray;
  padding: 2rem;
  margin-bottom: 3rem;
}

#title {
  display: inline-block;
  font-weight: bold;
  margin: auto;
  width: 100%;
  text-align: center;
}

#nav__hamburger-container {
  position: fixed;
  display: inline-block;
  cursor: pointer;
}

.nav__hamburger-line1,
.nav__hamburger-line2,
.nav__hamburger-line3 {
  width: 2.1rem;
  height: 0.3rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  border-radius: 0.2rem;
  background-color: black;
}
/* GAME INPUT SECTION */

#game-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-content: center;
  justify-self: center;
  justify-content: center;
  max-width: 500px;
  width: 500px;
}

#game__input-container {
  display: grid;
  row-gap: 0.75rem;
  justify-self: center;
  justify-content: center;
  margin: auto auto 3rem auto;
}

.game__input-block {
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  width: 5rem;
  height: 5rem;
  margin-right: 0.15rem;
  margin-left: 0.15rem;
  border-radius: none;
  border: 0.2rem solid lightgrey;
  caret-color: transparent;
  background-color: white;
  color: black;
  font-weight: bold;
  transition: transform 250ms linear;
}

/* INPUT BOX MODS */

.entered-letter {
  animation-name: key-input;
  animation: linear;
  animation-duration: 500ms;
  border: 0.2rem solid black;
}

@keyframes key-input {
  0% {
    width: 5.5rem;
    height: 5.5rem;
  }
  50% {
  }
  100% {
    width: 5rem;
    height: 5rem;
  }
}

/* Animations */

.shake {
  animation: shake 250ms ease-in-out;
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }
  30% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-7.5%);
  }
  70% {
    transform: translateX(7.5%);
  }
  90% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
}

.flip {
  animation: 0.5s linear flipping;
}

@keyframes flipping {
  0% {
    transform: RotateX(0deg);
  }
  50% {
    transform: RotateX(90deg);
  }
  100% {
    transform: RotateX(0deg);
  }
}

.dance {
  animation: 0.5s linear dancing;
}

@keyframes dancing {
  20% {
    transform: translateY(-50%);
  }
  40% {
    transform: translateY(5%);
  }
  60% {
    transform: translateY(-25%);
  }
  80% {
    transform: translateY(2.5%);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

.game__input-block:focus {
  outline: none;
  text-decoration: none;
  pointer-events: none;
}

/* KEYBOARD SECTION */

#game__keyboard-container {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 500px;
  font-size: 2rem;
  font-weight: 300;
}

.keyboard-row {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-self: center;
}

.keyboard-btn {
  border-radius: 0.5rem;
  cursor: pointer;
  justify-self: center;
  text-transform: uppercase;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  margin-right: 6px;
  width: 5rem;
  height: 7rem;
  background-color: rgb(194, 197, 197);
  color: black;
}

.keyboard-btn:hover {
  opacity: 0.75;
}

.keyboard-btn:active {
  background-color: rgb(139, 138, 138);
}

.keyboard-btn--special {
  /* enter and backspace btns */
  width: 7rem;
}

.spacer {
  text-align: center;
  flex-basis: 0%;
  flex-grow: 0.5;
  flex-shrink: 1;
}

/* BLOCK RESULT STYLING */

.correct-letter {
  background-color: var(--correct-letter);
  border: 0.2rem solid black;
}

.correct-position {
  background-color: var(--correct-position);
  border: 0.2rem solid black;
  color: white;
}

.incorrect-letter {
  background-color: var(--incorrect-letter);
  border: 0.2rem solid black;
  color: white;
}

/* ALERT CONTAINER */

.alert-container,
.attempt-1,
.attempt-2,
.attempt-3,
.attempt-4,
.attempt-5,
.attempt-6 {
  position: fixed;
  color: white;
  background-color: black;
  font-size: 1.8rem;
  top: 8vh;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 2;
  display: none;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  padding: 0.75rem;
  border-radius: 0.5rem;
  opacity: 1;
  margin-bottom: 0.5rem;
  transition: 1000ms linear 500ms;
  animation-name: fade-out;
  /* property , duration , timing-function , delay */
}

/* alert animation */

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
